


<div class="content" role="main">

  <!-- Resources -->


<h1 class="text-center"> Focntion de tri </h1>
<br>
<br>

  <form #tripost="ngForm" (ngSubmit)="onSubmit(tripost.value)">
    <div class="form-group col-md-4 mb-5">
        <label for="number[]">Entrez liste des nombres</label>
    <ul>
      <li> <input type="number" name="number1" class="form-control"  ngModel required> </li>
      <li> <input type="number" name="number2" class="form-control"  ngModel required> </li>
      <li> <input type="number" name="number3"  class="form-control" ngModel required> </li>
      <li> <input type="number" name="number4" class="form-control" ngModel required> </li>
      <li> <input type="number" name="number5" class="form-control" ngModel required> </li>
    </ul>
  </div>
  <div class="form-group col-md-4 mb-5">
      <label for="ordre">Choisissez ordre de tri</label> <br>
 <select  name="ordre" placeholder="Ordre" class="form-control"  ngModel required>
   <option value="1" >Croissant</option>
   <option value="2" >Décroissant</option>
 </select>
 </div>

  <div class="col-md-8 mb-8">

<button type="submit" class="btn btn-primary"> Tri </button>

</div>


<mat-divider></mat-divider>
    </form>

    <label for="result"> Resultats de tri est : </label>
    <br>
    <p>  {{tri$}} </p>

<br><br>
<div class="form-group col-md-8 mb-8">
<h2 class="text-left"> Historique </h2>

    <div *ngFor='let tri of tris$' >
      <p> <b>  Avent : </b> {{tri.liste}} | <b> Apres : </b> {{tri.listetri}} </p>
    </div>
</div>

</div>





<router-outlet></router-outlet>
